
<div class="flex flex-wrap justify-content-center align-content-center w-full">

    <div class="flex flex-column column-gap-2 w-10 my-4 md:my-8">
        <p class="font-bold text-2xl pb-2 m-0">Data Privacy Terms and Conditions</p>
        <p class="font-medium text-xl m-0">Introduction</p>
        <p class="text-left m-0 p-0 pb-1">These Data Privacy Terms and Conditions outline the policies and procedures for the collection, use, storage, and protection of customer information by R&V Private Resort.  By accessing or using our services, you customer agree to the terms outlined herein.</p>
        
        <p class="font-medium text-xl m-0">Information Collection</p>
        <p class="text-left m-0 p-0 pb-1">We may collect personal information from you, including but not limited to your name, contact details, address, payment information, and preferences. We collect this information to provide and improve our services and to fulfill our contractual obligations to you.</p>
    
        <p class="font-medium text-xl m-0">Use of Customer Information</p>
        <ul class="list-none">
            <li>a. We will use your personal information solely for the purposes specified in these Terms, including order processing, reservation, customer support, and communications. We may also aggregate and anonymize your data for statistical or analytical purposes.</li>
            <li>b. We will never sell, rent, or disclose your personal information to third parties without your explicit consent unless required by law.</li>
        </ul>
    
        <p class="font-medium text-xl m-0">Data Security</p>
        <ul class="list-none">
            <li>a. We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</li>
            <li>b. You are responsible for maintaining the confidentiality of any login credentials or passwords associated with your account. Please notify us immediately if you suspect any unauthorized use of your account.</li>
        </ul>
        
        <p class="font-medium text-xl m-0">Data Retention</p>
        <ul class="list-none">
            <li>a. We will retain your personal information only for as long as necessary to fulfill the purposes outlined in these Terms, unless a longer retention period is required or permitted by law.</li>
            <li>b. Upon termination of your reservation or request for refund in illegal and aggressive way. We will securely dispose of your personal information in accordance with applicable laws and regulations.</li>
        </ul>
        
        <p class="font-medium text-xl m-0">Cookies and Tracking Technologies</p>
        <ul class="list-none">
            <li>a. We may use cookies and similar tracking technologies to enhance your browsing experience, analyze usage patterns, and personalize content and for customer satisfaction in terms of service.</li>
            <li>b. You have the option to disable cookies through your browser settings, but please note that certain features or functionality of our services may be affected.</li>
        </ul>
        
        <p class="font-medium text-xl m-0">Marketing Communications</p>
        <ul class="list-none">
            <li>a. With your consent, we may use your contact information to send you promotional materials, or updates about our update resort's packages and promo.</li>
            <li>b. You can opt out of receiving marketing communications by following the instructions provided in the communication or by contacting us directly.</li>
        </ul>
        
        <p class="font-medium text-xl m-0">Changes to the Terms</p>
        <p class="m-0 p-0 pb-1">We reserve the right to modify or update these Terms at any time. We will notify you of any material changes via email or through our website. Your continued use of our services after such modifications will constitute your acceptance of the revised Terms.</p>
        
        <p class="font-medium text-xl m-0">Contact Information</p>
        <p class="m-0 p-0 pb-1">If you have any questions or concerns regarding these Terms or our data privacy practices, please contact us at randvfarm@gmail.com .</p>
    
    </div>
</div>