<p-card header="Select Your Accomodations">
    <p-toast></p-toast>
    <p-dataView #dv [value]="accomodations" [rows]="5" [paginator]="true">
        <ng-template let-accomodation pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-2 gap-2  m-0">
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center 
                                xl:align-items-start flex-1 gap-2">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-1 m-0">
                            <div class="text-xl font-bold text-900 m-0">{{ accomodation.name }}</div>
                            <div class="text-xl font-bold text-700 m-0">Capacity: {{ accomodation.capacity }}</div>
                            <div class="text-xl font-bold text-700 m-0">Maximum:{{ accomodation.maximum }}</div>
                        </div>
                        <div class="flex justify-content-end align-items-center gap-5">
                            <div class="flex flex-column align-items-center sm:align-items-start  gap-1 m-0">
                                <div class="flex justify-content-end align-items-end gap-1 m-0">
                                    <div *ngFor="let price of accomodation.prices" class="field-checkbox">
                                        <p-radioButton [inputId]="accomodation.name" name="price" [value]="price.type"
                                            [(ngModel)]="accomodation.selectedTime"></p-radioButton>
                                        <div class="flex flex-column gap-2">
                                            <label [for]="price.price" class="ml-2">{{ price.label }}</label>
                                            <label [for]="price.price" class="ml-2">{{ price.price }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column p-0 mb-2 w-full">
                                    <label class="ml-2">{{ accomodation.reserveQuantity }}</label>
                                    <p-slider [(ngModel)]="accomodation.reserveQuantity" [step]="1" [min]="0"
                                        [max]="accomodation.quantity"></p-slider>
                                </div>
                            </div>
                            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                <button pButton icon="pi pi-shopping-cart"
                                    class="md:align-self-end mb-2 p-button-rounded" (click)="selectItem(accomodation)"
                                    [disabled]="(accomodation.selectedTime == 0 || accomodation.reserveQuantity == 0) || inCart(accomodation.id)">
                                </button>
                                <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger" 
                                    (click)="removeFromCart(accomodation.id)"
                                    [disabled]="!inCart(accomodation.id)">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <div class="flex gap-2">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                    <p-button  (onClick)="checkAvailability()" label="Check Availability" styleClass="p-button-raised" icon="pi pi-send"></p-button>
                    <p-button (onClick)="nextPage()" label="Next" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</p-card>