<footer class="align-self-end bg-primary flex justify-content-between px-2">
    <p class="text-left text-xs mr-2">
        <i class="pi pi-sign-out pr-1 pl-10" style="font-size: .75rem"></i>
        <a class="text-blue-50 no-underline" routerLink="terms-of-service">
            Terms of Service
        </a>
    </p>
    <p class="text-left text-xs mr-2">
        <a class="text-sm" href="https://www.freepik.com/free-photo/gray-abstract-wireframe-technology-background_15474085.htm#query=white%20background&position=5&from_view=keyword&track=ais">Image by rawpixel.com  on Freepik</a>
    </p>
</footer>