<footer class="bg-primary text-color p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <!-- <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
    </div>
    <div class="flex align-items-center ml-2 mr-8">
        <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
    </div>
    <a class="flex align-items-center no-underline justify-content-center border-circle text-white-100 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
       style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a> -->
    <a class="text-sm" href="https://www.freepik.com/free-photo/gray-abstract-wireframe-technology-background_15474085.htm#query=white%20background&position=5&from_view=keyword&track=ais">Image by rawpixel.com  on Freepik</a>
</footer>