<div x-data="{ open: false, toggle() { this.open = ! this.open } }"
    class="flex flex-column w-full h-screen overflow-x-hidden">


    <div class="flex justify-content-between align-content-center bg-primary h-auto w-full sticky z-5">
        <div class="flex align-content-center justify-content-between pl-2">
            <div class="flex md:hidden ">
                <button pButton type="button" x-on:click="toggle()" icon="pi pi-bars" label=""></button>
            </div>
            <div class="flex justify-content-center align-content-center">
                <img src="assets/images/r&vlogo.jpg" alt="Image" height="40" class="hidden md:flex m-2 border-circle">
                <h1 class="font-sans text-xl text-white md:pl-16">R & V Private Resort</h1>
            </div>
        </div>
        <div class="flex text-color">
            <div class="card flex justify-content-center">
                <p-toast></p-toast>
                <p-menu #menu [model]="items" [popup]="true"></p-menu>
                <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label=""></button>
            </div>
        </div>
    </div>

    <div class="flex w-full h-full align-content-center">
        <div x-show="open" x-on:click="open = false"
            class="md:hidden absolute z-5 align-items-center w-14 h-auto overflow-y-auto overflow-x-hidden">

            <div class="flex flex-wrap flex-column align-content-center bg-primary w-full h-full gap-3 border-round p-8"
                x-on:click.outside="open = false">
                <img class="bg-white border-circle border-white border-2" src="/assets/images/r&vlogo.jpg" alt=""
                    width="150px">
                <p-button pRipple label="Dashboard" icon="pi pi-home" routerLink="dashboard"></p-button>
                <p-button pRipple label="Reservations" icon="pi pi-calendar" routerLink="reservations"></p-button>
                <p-button pRipple label="Settings" icon="pi pi-file-edit" routerLink="settings"></p-button>
            </div>
        </div>

        <div class="hidden md:flex w-16rem lg:w-24rem h-full align-content-center">
            <div class="flex flex-wrap flex-column align-content-center bg-primary w-full h-full gap-3">
                <img class="bg-white border-circle border-white border-2 mt-3" src="/assets/images/r&vlogo.jpg" alt=""
                    width="150px">
                <p-button pRipple label="Dashboard" icon="pi pi-home" routerLink="dashboard"></p-button>
                <p-button pRipple label="Reservations" icon="pi pi-calendar" routerLink="reservations"></p-button>
                <p-button pRipple label="Settings" icon="pi pi-file-edit" routerLink="settings"></p-button>
            </div>
        </div>

        <!-- content -->
        <div class="flex flex-column w-full h-full overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>