<div class="flex w-screen h-auto justify-content-center align-content-center background-container surface-600">
    <div class="flex justify-content-between align-content-center w-full xl:w-9 m-2 h-8">
        <div class="flex flex-column w-auto h-full">
            <h1 class="font-bold text-5xl pt-5 text-white">
                Welcome to R&V PRIVATE RESORT
                <p>Enjoy life while you're young and able.</p>
            </h1> 
            <h2 class="font-bold text-3xl text-white">
                Hola bakasyonistas! Take a look of our new and improved amenities.
                R & V Private Resort is open for reservations only.
            </h2>
        </div>
    </div>
</div>
<div class="flex flex-column pt-5">
    <app-amneties></app-amneties>
</div>
<div class="flex flex-column pt-5">
    <app-packages></app-packages>
</div>