<div class="flex justify-content-center align-content-center flex-wrap min-w-full min-h-screen bg-gray-200 background-container">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <p-toast></p-toast>
        <div class="text-center mb-5">
            <img src="assets/images/logo.jpg" alt="Image" height="150" class="mb-3 border-circle">
            <!-- <p-image src="assets/images/logo.jpg" alt="Image" width="150" class="mb-3 border-circle"></p-image> -->
            <div class="text-900 text-3xl font-medium mb-3">Password Reset</div>
            <!-- <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a> -->
        </div>

        <div >
            <label for="password" class="block text-900 font-medium mb-2">Password</label>
            <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>

            <div class="flex align-items-center justify-content-between mb-6">
                <a 
                    class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                    routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Cancel
                </a>
            </div>

            <!-- <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" ></button> -->
            <button pButton pRipple icon="pi pi-send" label="Reset Password" class="w-full" (click)="onSubmit()"></button>
        </div>
    </div>
</div>