
.background-container{
    background-image: url('/assets/images/bg-pattern.jpg');
    background-color:rgb(131, 131, 131);
    background-size: cover;
    background-position: center;
    /* opacity: .7; */
}